.edit-img{

    width: 24px;
    height: 24px;

}

.edit-img:hover{

    opacity: 0.5;
 
 }

.bin-img{

    width: 24px;
    height: 24px;
}

.bin-img:hover{

    opacity: 0.5;
 
 }
 

.like-img{

    width: 24px;
    height: 24px;
    opacity: 0.4;
 
}

.like-img-liked{

    width: 24px;
    height: 24px;

}

.like-img:hover{
    opacity: 1.0;
}

.dislike-img{

    width: 24px;
    height: 24px;
    opacity: 0.4;

}

.dislike-img:hover{
    opacity: 1.0;
}

.post-img{
    max-width: 350px;
    max-height: 350px;
}




 